body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #6d83a0;
  color: #854c4c;
}

.api-gateway-title {
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.api-gateway-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 150px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.api-gateway-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  min-height: 300px;
  padding: 10px;
  border-radius: 1rem;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  color: #333;
}

.api-gateway-card:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
}

.api-gateway-card .card-image {
  border-radius: 1rem;
  color: white;
  position: absolute;
  top: -30px;
  max-width: 80%;
  margin: 0 auto;
  height: 260px;
  width: 180px;
  z-index: 100;
  transition: top 0.5s ease-in-out;
  background: rgb(44, 80, 60);
  background: linear-gradient(
    193deg,
    rgba(44, 80, 60, 1) 29%,
    rgba(0, 9, 92, 1) 100%
  );
}

.api-gateway-card:hover .card-image {
  top: -150px;
}

.api-gateway-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 1rem;
}

.api-gateway-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.api-gateway-card .card-content .title {
  text-align: center;
  line-height: 3;
  font-weight: 800;
  font-size: 1.5rem;
}

.api-gateway-card .card-content .text {
  font-size: 1.2rem;
  text-align: center;
}

.api-gateway-card .card-content .link {
  font-size: 1.2rem;
  display: inline-block;
  width: auto;
  color: #fff;
  margin: -0.5rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: rgb(5, 116, 79);
  box-shadow: 1px 1px 10px 2px #ccc;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.api-gateway-card .card-content .link:hover {
  background-color: rgba(5, 116, 79, 0.783);
}

.api-gateway-card:hover .card-content {
  transform: translateY(30px);
  opacity: 1;
  transition-delay: 0.2s;
}

.api-gateway-error {
  color: red;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.api-gateway-response {
  margin-top: 20px;
  text-align: left;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .api-gateway-cards-container {
    gap: 20px;
  }
  .api-gateway-card {
    max-width: 45%;
  }
  .api-gateway-card .card-image {
    max-width: 90%;
  }
  .api-gateway-card .card-content .link {
    font-size: 1.2rem;
    padding: 6px 8px;
  }
}

@media (max-width: 480px) {
  .api-gateway-cards-container {
    gap: 20px;
  }
  .api-gateway-card {
    max-width: 90%;
  }
  .api-gateway-card .card-image {
    max-width: 100%;
  }
  .api-gateway-card .card-content .link {
    font-size: 1.2rem;
    padding: 6px 8px;
  }
}
